﻿USE [SmartCampusDb]
GO
/****** Object:  Table [dbo].[Activity]    Script Date: 6/19/2026 11:02:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Activity](
	[Activity_Id] [int] IDENTITY(1,1) NOT NULL,
	[Activity_Title] [nvarchar](150) NOT NULL,
	[Image] [varchar](255) NULL,
	[Description] [nvarchar](max) NULL,
	[Location] [nvarchar](255) NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[ModifiedDateTime] [datetime] NULL,
	[ModifiedBy] [nvarchar](100) NULL,
	[IsDelete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Activity_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Book]    Script Date: 6/19/2026 11:02:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Book](
	[Book_Id] [int] IDENTITY(1,1) NOT NULL,
	[Category_Id] [int] NOT NULL,
	[Book_Name] [nvarchar](150) NOT NULL,
	[Image] [varchar](255) NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[ModifiedDateTime] [datetime] NULL,
	[ModifiedBy] [nvarchar](100) NULL,
	[IsDelete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Book_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 6/19/2026 11:02:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[Category_Id] [int] IDENTITY(1,1) NOT NULL,
	[Category_Name] [nvarchar](100) NOT NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[ModifiedDateTime] [datetime] NULL,
	[ModifiedBy] [nvarchar](100) NULL,
	[IsDelete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Category_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Department]    Script Date: 6/19/2026 11:02:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Department](
	[Department_Id] [int] IDENTITY(1,1) NOT NULL,
	[Faculty_Id] [int] NOT NULL,
	[Department_Name] [nvarchar](150) NOT NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[ModifiedDateTime] [datetime] NULL,
	[ModifiedBy] [nvarchar](100) NULL,
	[IsDelete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Department_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Faculty]    Script Date: 6/19/2026 11:02:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Faculty](
	[Faculty_Id] [int] IDENTITY(1,1) NOT NULL,
	[Faculty_Name] [nvarchar](150) NOT NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[ModifiedDateTime] [datetime] NULL,
	[ModifiedBy] [nvarchar](100) NULL,
	[IsDelete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Faculty_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Payment_Fees]    Script Date: 6/19/2026 11:02:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Payment_Fees](
	[Fees_Id] [int] IDENTITY(1,1) NOT NULL,
	[Class_Year] [nvarchar](50) NOT NULL,
	[Montly_Amount] [decimal](10, 2) NOT NULL,
	[Status] [nvarchar](20) NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[ModifiedDateTime] [datetime] NULL,
	[ModifiedBy] [nvarchar](100) NULL,
	[IsDelete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Fees_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Permissions]    Script Date: 6/19/2026 11:02:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Permissions](
	[Permission_Id] [int] IDENTITY(1,1) NOT NULL,
	[Permission_Name] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Permission_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Position]    Script Date: 6/19/2026 11:02:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Position](
	[Position_Id] [int] IDENTITY(1,1) NOT NULL,
	[Position_Name] [nvarchar](100) NOT NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[ModifiedDateTime] [datetime] NULL,
	[ModifiedBy] [nvarchar](100) NULL,
	[IsDelete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Position_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Registration_Payment]    Script Date: 6/19/2026 11:02:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Registration_Payment](
	[Payment_Id] [int] IDENTITY(1,1) NOT NULL,
	[Registration_Id] [int] NOT NULL,
	[Amount_Paid] [decimal](10, 2) NOT NULL,
	[Payment_Method] [nvarchar](50) NOT NULL,
	[Receipt_Image] [varchar](255) NOT NULL,
	[Payment_Date] [datetime] NOT NULL,
	[Status] [nvarchar](20) NULL,
	[VerifyBy] [int] NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[ModifiedDateTime] [datetime] NULL,
	[ModifiedBy] [nvarchar](100) NULL,
	[IsDelete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Payment_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 6/19/2026 11:02:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[Role_Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleName] [nvarchar](50) NOT NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[ModifiedDateTime] [datetime] NULL,
	[ModifiedBy] [nvarchar](100) NULL,
	[IsDelete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Role_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role_Permissions]    Script Date: 6/19/2026 11:02:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role_Permissions](
	[Role_Permission_Id] [int] IDENTITY(1,1) NOT NULL,
	[Role_Id] [int] NOT NULL,
	[Permission_Id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Role_Permission_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Rules_Regulations]    Script Date: 6/19/2026 11:02:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Rules_Regulations](
	[Rule_Id] [int] IDENTITY(1,1) NOT NULL,
	[Title] [nvarchar](150) NOT NULL,
	[Description] [nvarchar](max) NULL,
	[Penalty] [nvarchar](255) NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[ModifiedDateTime] [datetime] NULL,
	[ModifiedBy] [nvarchar](100) NULL,
	[IsDelete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Rule_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Semester]    Script Date: 6/19/2026 11:02:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Semester](
	[Semester_Id] [int] IDENTITY(1,1) NOT NULL,
	[Semester_Name] [nvarchar](100) NOT NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[ModifiedDateTime] [datetime] NULL,
	[ModifiedBy] [nvarchar](100) NULL,
	[IsDelete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Semester_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student]    Script Date: 6/19/2026 11:02:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student](
	[Student_Id] [int] IDENTITY(1,1) NOT NULL,
	[User_Id] [int] NOT NULL,
	[Current_Class_Year] [nvarchar](50) NOT NULL,
	[Current_Major] [nvarchar](100) NOT NULL,
	[Current_Roll_No] [varchar](20) NULL,
	[Status] [nvarchar](20) NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[ModifiedDateTime] [datetime] NULL,
	[ModifiedBy] [nvarchar](100) NULL,
	[IsDelete] [bit] NULL,
	[Sem1_Result] [varchar](20) NULL,
	[Sem2_Result] [varchar](20) NULL,
	[Sem3_Result] [varchar](20) NULL,
	[Sem4_Result] [varchar](20) NULL,
	[Sem5_Result] [varchar](20) NULL,
	[Sem6_Result] [varchar](20) NULL,
	[Sem7_Result] [varchar](20) NULL,
	[Sem8_Result] [varchar](20) NULL,
	[Sem9_Result] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Student_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Student_Registrations]    Script Date: 6/19/2026 11:02:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Student_Registrations](
	[registration_id] [int] IDENTITY(1,1) NOT NULL,
	[user_id] [int] NULL,
	[admission_serial_no] [varchar](50) NULL,
	[academic_year_range] [varchar](20) NOT NULL,
	[academic_year_level] [nvarchar](50) NOT NULL,
	[major] [nvarchar](100) NOT NULL,
	[roll_no] [varchar](20) NULL,
	[university_reg_no] [varchar](50) NULL,
	[admission_year] [int] NULL,
	[application_date] [datetime] NULL,
	[student_name_mm] [nvarchar](100) NOT NULL,
	[student_name_en] [varchar](100) NOT NULL,
	[mother_name] [nvarchar](100) NOT NULL,
	[father_name] [nvarchar](100) NOT NULL,
	[gender_relation] [nvarchar](50) NOT NULL,
	[ethnicity] [nvarchar](50) NOT NULL,
	[religion] [nvarchar](50) NOT NULL,
	[pob] [nvarchar](255) NOT NULL,
	[birth_place_region] [nvarchar](100) NOT NULL,
	[student_nrc_no] [nvarchar](50) NOT NULL,
	[nationality_status] [nvarchar](100) NOT NULL,
	[dob] [date] NOT NULL,
	[email] [varchar](100) NULL,
	[blood_type] [varchar](5) NOT NULL,
	[covid_vaccine_status] [nvarchar](255) NULL,
	[current_address] [nvarchar](max) NULL,
	[permanent_address_mm] [nvarchar](max) NOT NULL,
	[permanent_address_en] [varchar](max) NOT NULL,
	[matric_roll_no] [varchar](20) NOT NULL,
	[matric_passed_year] [int] NOT NULL,
	[exam_center] [nvarchar](150) NOT NULL,
	[father_occupation] [nvarchar](150) NULL,
	[mother_occupation] [nvarchar](150) NULL,
	[past_exam_major] [nvarchar](100) NULL,
	[past_exam_roll_no] [varchar](20) NULL,
	[past_exam_year] [int] NULL,
	[past_exam_status] [nvarchar](50) NULL,
	[previous_year_roll_no] [varchar](20) NULL,
	[guardian_name] [nvarchar](100) NULL,
	[guardian_relationship] [nvarchar](50) NULL,
	[guardian_occupation] [nvarchar](150) NULL,
	[guardian_address_phone] [nvarchar](max) NULL,
	[app_guardian_name] [nvarchar](100) NULL,
	[app_guardian_nrc] [nvarchar](50) NULL,
	[app_guardian_phone] [varchar](20) NULL,
	[app_guardian_address] [nvarchar](max) NULL,
	[app_student_name] [nvarchar](100) NULL,
	[app_student_phone] [varchar](20) NULL,
	[stipend_requested] [bit] NULL,
	[status] [nvarchar](20) NULL,
	[created_datetime] [datetime] NULL,
	[created_by] [nvarchar](100) NULL,
	[modified_datetime] [datetime] NULL,
	[modified_by] [nvarchar](100) NULL,
	[is_delete] [bit] NULL,
	[student_image] [nvarchar](500) NULL,
	[signature_image] [nvarchar](500) NULL,
PRIMARY KEY CLUSTERED 
(
	[registration_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Subject]    Script Date: 6/19/2026 11:02:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Subject](
	[Subject_Id] [int] IDENTITY(1,1) NOT NULL,
	[Semester_Id] [int] NOT NULL,
	[Subject_Name] [nvarchar](150) NOT NULL,
	[Subject_Code] [varchar](50) NOT NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[ModifiedDateTime] [datetime] NULL,
	[ModifiedBy] [nvarchar](100) NULL,
	[IsDelete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Subject_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tutor]    Script Date: 6/19/2026 11:02:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tutor](
	[Tutor_Id] [int] IDENTITY(1,1) NOT NULL,
	[User_Id] [int] NOT NULL,
	[Position_id] [int] NOT NULL,
	[Department_Id] [int] NOT NULL,
	[Tutor_Name] [nvarchar](100) NOT NULL,
	[Email] [varchar](100) NULL,
	[Phone] [varchar](50) NULL,
	[Profile] [varchar](255) NULL,
	[About] [nvarchar](max) NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[ModifiedDateTime] [datetime] NULL,
	[ModifiedBy] [nvarchar](100) NULL,
	[IsDelete] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Tutor_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 6/19/2026 11:02:04 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[User_Id] [int] IDENTITY(1,1) NOT NULL,
	[Role_id] [int] NOT NULL,
	[Full_Name] [nvarchar](100) NOT NULL,
	[UserName] [varchar](50) NOT NULL,
	[Password] [varchar](255) NOT NULL,
	[CreatedDateTime] [datetime] NULL,
	[CreatedBy] [nvarchar](100) NULL,
	[ModifiedDateTime] [datetime] NULL,
	[ModifiedBy] [nvarchar](100) NULL,
	[IsDelete] [bit] NULL,
	[Role_No] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[User_Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Activity] ON 

INSERT [dbo].[Activity] ([Activity_Id], [Activity_Title], [Image], [Description], [Location], [CreatedDateTime], [CreatedBy], [ModifiedDateTime], [ModifiedBy], [IsDelete]) VALUES (1, N'Freshers Welcome Ceremony', NULL, N'Welcoming event for first-year engineering students.', N'Assembly Hall', CAST(N'2026-06-19T19:51:57.233' AS DateTime), N'admin', NULL, NULL, 0)
INSERT [dbo].[Activity] ([Activity_Id], [Activity_Title], [Image], [Description], [Location], [CreatedDateTime], [CreatedBy], [ModifiedDateTime], [ModifiedBy], [IsDelete]) VALUES (2, N'Annual Sports Day Meet', NULL, N'Inter-department sports competition and athletics events.', N'Main Sports Ground', CAST(N'2026-06-19T19:51:57.233' AS DateTime), N'admin', NULL, NULL, 0)
INSERT [dbo].[Activity] ([Activity_Id], [Activity_Title], [Image], [Description], [Location], [CreatedDateTime], [CreatedBy], [ModifiedDateTime], [ModifiedBy], [IsDelete]) VALUES (3, N'IT Innovation & Coding Contest', NULL, N'Competitive programming and software development hackathon.', N'IT Lab 3', CAST(N'2026-06-19T19:51:57.233' AS DateTime), N'admin', NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[Activity] OFF
GO
SET IDENTITY_INSERT [dbo].[Book] ON 

INSERT [dbo].[Book] ([Book_Id], [Category_Id], [Book_Name], [Image], [CreatedDateTime], [CreatedBy], [ModifiedDateTime], [ModifiedBy], [IsDelete]) VALUES (1, 1, N'Introduction to Algorithms', NULL, CAST(N'2026-06-19T19:51:57.250' AS DateTime), N'admin', NULL, NULL, 0)
INSERT [dbo].[Book] ([Book_Id], [Category_Id], [Book_Name], [Image], [CreatedDateTime], [CreatedBy], [ModifiedDateTime], [ModifiedBy], [IsDelete]) VALUES (2, 2, N'Clean Code', NULL, CAST(N'2026-06-19T19:51:57.250' AS DateTime), N'admin', NULL, NULL, 0)
INSERT [dbo].[Book] ([Book_Id], [Category_Id], [Book_Name], [Image], [CreatedDateTime], [CreatedBy], [ModifiedDateTime], [ModifiedBy], [IsDelete]) VALUES (3, 3, N'Computer Networking: A Top-Down Approach', NULL, CAST(N'2026-06-19T19:51:57.250' AS DateTime), N'admin', NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[Book] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([Category_Id], [Category_Name], [CreatedDateTime], [CreatedBy], [ModifiedDateTime], [ModifiedBy], [IsDelete]) VALUES (1, N'Information Technology', CAST(N'2026-06-19T19:51:57.230' AS DateTime), N'admin', NULL, NULL, 0)
INSERT [dbo].[Category] ([Category_Id], [Category_Name], [CreatedDateTime], [CreatedBy], [ModifiedDateTime], [ModifiedBy], [IsDelete]) VALUES (2, N'Software Engineering', CAST(N'2026-06-19T19:51:57.230' AS DateTime), N'admin', NULL, NULL, 0)
INSERT [dbo].[Category] ([Category_Id], [Category_Name], [CreatedDateTime], [CreatedBy], [ModifiedDateTime], [ModifiedBy], [IsDelete]) VALUES (3, N'Computer Networks', CAST(N'2026-06-19T19:51:57.230' AS DateTime), N'admin', NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Department] ON 

INSERT [dbo].[Department] ([Department_Id], [Faculty_Id], [Department_Name], [CreatedDateTime], [CreatedBy], [ModifiedDateTime], [ModifiedBy], [IsDelete]) VALUES (1, 1, N'Department of Information Technology', CAST(N'2026-06-19T19:51:57.230' AS DateTime), N'admin', NULL, NULL, 0)
INSERT [dbo].[Department] ([Department_Id], [Faculty_Id], [Department_Name], [CreatedDateTime], [CreatedBy], [ModifiedDateTime], [ModifiedBy], [IsDelete]) VALUES (2, 2, N'Department of Civil Engineering', CAST(N'2026-06-19T19:51:57.230' AS DateTime), N'admin', NULL, NULL, 0)
INSERT [dbo].[Department] ([Department_Id], [Faculty_Id], [Department_Name], [CreatedDateTime], [CreatedBy], [ModifiedDateTime], [ModifiedBy], [IsDelete]) VALUES (3, 3, N'Department of Electronic Engineering', CAST(N'2026-06-19T19:51:57.230' AS DateTime), N'admin', NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[Department] OFF
GO
SET IDENTITY_INSERT [dbo].[Faculty] ON 

INSERT [dbo].[Faculty] ([Faculty_Id], [Faculty_Name], [CreatedDateTime], [CreatedBy], [ModifiedDateTime], [ModifiedBy], [IsDelete]) VALUES (1, N'Faculty of Information Technology', CAST(N'2026-06-19T19:51:57.227' AS DateTime), N'admin', NULL, NULL, 0)
INSERT [dbo].[Faculty] ([Faculty_Id], [Faculty_Name], [CreatedDateTime], [CreatedBy], [ModifiedDateTime], [ModifiedBy], [IsDelete]) VALUES (2, N'Faculty of Civil Engineering', CAST(N'2026-06-19T19:51:57.227' AS DateTime), N'admin', NULL, NULL, 0)
INSERT [dbo].[Faculty] ([Faculty_Id], [Faculty_Name], [CreatedDateTime], [CreatedBy], [ModifiedDateTime], [ModifiedBy], [IsDelete]) VALUES (3, N'Faculty of Electronic Engineering', CAST(N'2026-06-19T19:51:57.227' AS DateTime), N'admin', NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[Faculty] OFF
GO
SET IDENTITY_INSERT [dbo].[Permissions] ON 

INSERT [dbo].[Permissions] ([Permission_Id], [Permission_Name]) VALUES (1, N'View_Student')
INSERT [dbo].[Permissions] ([Permission_Id], [Permission_Name]) VALUES (2, N'Create_Student')
INSERT [dbo].[Permissions] ([Permission_Id], [Permission_Name]) VALUES (3, N'Edit_Student')
SET IDENTITY_INSERT [dbo].[Permissions] OFF
GO
SET IDENTITY_INSERT [dbo].[Position] ON 

INSERT [dbo].[Position] ([Position_Id], [Position_Name], [CreatedDateTime], [CreatedBy], [ModifiedDateTime], [ModifiedBy], [IsDelete]) VALUES (1, N'Rector', CAST(N'2026-06-19T19:51:57.230' AS DateTime), N'admin', NULL, NULL, 0)
INSERT [dbo].[Position] ([Position_Id], [Position_Name], [CreatedDateTime], [CreatedBy], [ModifiedDateTime], [ModifiedBy], [IsDelete]) VALUES (2, N'Pro-Rector', CAST(N'2026-06-19T19:51:57.230' AS DateTime), N'admin', NULL, NULL, 0)
INSERT [dbo].[Position] ([Position_Id], [Position_Name], [CreatedDateTime], [CreatedBy], [ModifiedDateTime], [ModifiedBy], [IsDelete]) VALUES (3, N'Professor', CAST(N'2026-06-19T19:51:57.230' AS DateTime), N'admin', NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[Position] OFF
GO
SET IDENTITY_INSERT [dbo].[Registration_Payment] ON 

INSERT [dbo].[Registration_Payment] ([Payment_Id], [Registration_Id], [Amount_Paid], [Payment_Method], [Receipt_Image], [Payment_Date], [Status], [VerifyBy], [CreatedDateTime], [CreatedBy], [ModifiedDateTime], [ModifiedBy], [IsDelete]) VALUES (1, 1, CAST(52000.00 AS Decimal(10, 2)), N'KBZPay', N'receipt_1.jpg', CAST(N'2026-06-17T08:30:00.000' AS DateTime), N'Pending', NULL, CAST(N'2026-06-17T08:30:00.000' AS DateTime), NULL, NULL, NULL, 0)
INSERT [dbo].[Registration_Payment] ([Payment_Id], [Registration_Id], [Amount_Paid], [Payment_Method], [Receipt_Image], [Payment_Date], [Status], [VerifyBy], [CreatedDateTime], [CreatedBy], [ModifiedDateTime], [ModifiedBy], [IsDelete]) VALUES (2, 2, CAST(52000.00 AS Decimal(10, 2)), N'WavePay', N'receipt_2.jpg', CAST(N'2026-06-17T09:10:00.000' AS DateTime), N'Pending', NULL, CAST(N'2026-06-17T09:10:00.000' AS DateTime), NULL, NULL, NULL, 0)
INSERT [dbo].[Registration_Payment] ([Payment_Id], [Registration_Id], [Amount_Paid], [Payment_Method], [Receipt_Image], [Payment_Date], [Status], [VerifyBy], [CreatedDateTime], [CreatedBy], [ModifiedDateTime], [ModifiedBy], [IsDelete]) VALUES (3, 3, CAST(52000.00 AS Decimal(10, 2)), N'KBZPay', N'receipt_3.jpg', CAST(N'2026-06-17T10:20:00.000' AS DateTime), N'Pending', NULL, CAST(N'2026-06-17T10:20:00.000' AS DateTime), NULL, NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[Registration_Payment] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([Role_Id], [RoleName], [CreatedDateTime], [CreatedBy], [ModifiedDateTime], [ModifiedBy], [IsDelete]) VALUES (1, N'Admin', CAST(N'2026-06-11T23:19:52.957' AS DateTime), N'System_Init', NULL, NULL, 0)
INSERT [dbo].[Role] ([Role_Id], [RoleName], [CreatedDateTime], [CreatedBy], [ModifiedDateTime], [ModifiedBy], [IsDelete]) VALUES (2, N'Tutor', CAST(N'2026-06-11T23:19:52.973' AS DateTime), N'System_Init', NULL, NULL, 0)
INSERT [dbo].[Role] ([Role_Id], [RoleName], [CreatedDateTime], [CreatedBy], [ModifiedDateTime], [ModifiedBy], [IsDelete]) VALUES (3, N'Student', CAST(N'2026-06-11T23:19:52.980' AS DateTime), N'System_Init', NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Role_Permissions] ON 

INSERT [dbo].[Role_Permissions] ([Role_Permission_Id], [Role_Id], [Permission_Id]) VALUES (11, 1, 1)
INSERT [dbo].[Role_Permissions] ([Role_Permission_Id], [Role_Id], [Permission_Id]) VALUES (12, 1, 2)
INSERT [dbo].[Role_Permissions] ([Role_Permission_Id], [Role_Id], [Permission_Id]) VALUES (13, 1, 3)
SET IDENTITY_INSERT [dbo].[Role_Permissions] OFF
GO
SET IDENTITY_INSERT [dbo].[Rules_Regulations] ON 

INSERT [dbo].[Rules_Regulations] ([Rule_Id], [Title], [Description], [Penalty], [CreatedDateTime], [CreatedBy], [ModifiedDateTime], [ModifiedBy], [IsDelete]) VALUES (1, N'KyawZayar', N'ShineSiLwin', N'GOOL', CAST(N'2026-06-10T15:22:08.457' AS DateTime), N'1', CAST(N'2026-06-10T15:24:58.090' AS DateTime), N'1', 1)
INSERT [dbo].[Rules_Regulations] ([Rule_Id], [Title], [Description], [Penalty], [CreatedDateTime], [CreatedBy], [ModifiedDateTime], [ModifiedBy], [IsDelete]) VALUES (2, N'yy', N'vv', N'cc', CAST(N'2026-06-10T15:38:57.377' AS DateTime), N'Admin', NULL, NULL, 0)
INSERT [dbo].[Rules_Regulations] ([Rule_Id], [Title], [Description], [Penalty], [CreatedDateTime], [CreatedBy], [ModifiedDateTime], [ModifiedBy], [IsDelete]) VALUES (3, N'hloo', N'g7gug', N'10000', CAST(N'2026-06-19T13:01:28.263' AS DateTime), NULL, NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[Rules_Regulations] OFF
GO
SET IDENTITY_INSERT [dbo].[Semester] ON 

INSERT [dbo].[Semester] ([Semester_Id], [Semester_Name], [CreatedDateTime], [CreatedBy], [ModifiedDateTime], [ModifiedBy], [IsDelete]) VALUES (1, N'Semester I', CAST(N'2026-06-10T21:35:52.483' AS DateTime), N'1', NULL, NULL, 0)
INSERT [dbo].[Semester] ([Semester_Id], [Semester_Name], [CreatedDateTime], [CreatedBy], [ModifiedDateTime], [ModifiedBy], [IsDelete]) VALUES (2, N'Semester II', CAST(N'2026-06-10T21:35:52.483' AS DateTime), N'1', NULL, NULL, 0)
INSERT [dbo].[Semester] ([Semester_Id], [Semester_Name], [CreatedDateTime], [CreatedBy], [ModifiedDateTime], [ModifiedBy], [IsDelete]) VALUES (3, N'Semester III', CAST(N'2026-06-10T21:35:52.483' AS DateTime), N'1', NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[Semester] OFF
GO
SET IDENTITY_INSERT [dbo].[Student] ON 

INSERT [dbo].[Student] ([Student_Id], [User_Id], [Current_Class_Year], [Current_Major], [Current_Roll_No], [Status], [CreatedDateTime], [CreatedBy], [ModifiedDateTime], [ModifiedBy], [IsDelete], [Sem1_Result], [Sem2_Result], [Sem3_Result], [Sem4_Result], [Sem5_Result], [Sem6_Result], [Sem7_Result], [Sem8_Result], [Sem9_Result]) VALUES (1, 27, N'First Year', N'N/A', NULL, N'Active', CAST(N'2026-06-19T20:59:54.433' AS DateTime), NULL, NULL, NULL, 0, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Student] OFF
GO
SET IDENTITY_INSERT [dbo].[Student_Registrations] ON 

SET IDENTITY_INSERT [dbo].[Student_Registrations] OFF
GO
SET IDENTITY_INSERT [dbo].[Subject] ON 

INSERT [dbo].[Subject] ([Subject_Id], [Semester_Id], [Subject_Name], [Subject_Code], [CreatedDateTime], [CreatedBy], [ModifiedDateTime], [ModifiedBy], [IsDelete]) VALUES (1, 1, N'English I', N'ENG101', CAST(N'2026-06-19T19:51:57.243' AS DateTime), N'admin', NULL, NULL, 0)
INSERT [dbo].[Subject] ([Subject_Id], [Semester_Id], [Subject_Name], [Subject_Code], [CreatedDateTime], [CreatedBy], [ModifiedDateTime], [ModifiedBy], [IsDelete]) VALUES (2, 1, N'Myanmar I', N'MYA101', CAST(N'2026-06-19T19:51:57.243' AS DateTime), N'admin', NULL, NULL, 0)
INSERT [dbo].[Subject] ([Subject_Id], [Semester_Id], [Subject_Name], [Subject_Code], [CreatedDateTime], [CreatedBy], [ModifiedDateTime], [ModifiedBy], [IsDelete]) VALUES (3, 1, N'Engineering Mathematics I', N'EM101', CAST(N'2026-06-19T19:51:57.243' AS DateTime), N'admin', NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[Subject] OFF
GO
SET IDENTITY_INSERT [dbo].[Tutor] ON 

INSERT [dbo].[Tutor] ([Tutor_Id], [User_Id], [Position_id], [Department_Id], [Tutor_Name], [Email], [Phone], [Profile], [About], [CreatedDateTime], [CreatedBy], [ModifiedDateTime], [ModifiedBy], [IsDelete]) VALUES (1, 7, 3, 1, N'Dr. Aung Kyaw Phyo', N'aungkyawphyo@pu-maubin.edu.mm', N'09420112233', N'tutor1.jpg', N'Professor in IT Department', CAST(N'2026-06-17T09:00:00.000' AS DateTime), NULL, NULL, NULL, 0)
INSERT [dbo].[Tutor] ([Tutor_Id], [User_Id], [Position_id], [Department_Id], [Tutor_Name], [Email], [Phone], [Profile], [About], [CreatedDateTime], [CreatedBy], [ModifiedDateTime], [ModifiedBy], [IsDelete]) VALUES (2, 8, 4, 1, N'Daw Sandar Linn', N'sandarlinn@pu-maubin.edu.mm', N'09250334455', N'tutor2.jpg', N'Associate Professor in IT Department', CAST(N'2026-06-17T09:15:00.000' AS DateTime), NULL, NULL, NULL, 0)
INSERT [dbo].[Tutor] ([Tutor_Id], [User_Id], [Position_id], [Department_Id], [Tutor_Name], [Email], [Phone], [Profile], [About], [CreatedDateTime], [CreatedBy], [ModifiedDateTime], [ModifiedBy], [IsDelete]) VALUES (3, 9, 5, 2, N'U Tin Maung Win', N'tinmaungwin@pu-maubin.edu.mm', N'09790112233', N'tutor3.jpg', N'Lecturer in Civil Engineering', CAST(N'2026-06-17T09:30:00.000' AS DateTime), NULL, NULL, NULL, 0)
SET IDENTITY_INSERT [dbo].[Tutor] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([User_Id], [Role_id], [Full_Name], [UserName], [Password], [CreatedDateTime], [CreatedBy], [ModifiedDateTime], [ModifiedBy], [IsDelete], [Role_No]) VALUES (1, 1, N'Campus Administrator', N'admin', N'admin123', CAST(N'2026-06-11T23:20:44.947' AS DateTime), N'System_Init', NULL, NULL, 0, NULL)
INSERT [dbo].[User] ([User_Id], [Role_id], [Full_Name], [UserName], [Password], [CreatedDateTime], [CreatedBy], [ModifiedDateTime], [ModifiedBy], [IsDelete], [Role_No]) VALUES (2, 4, N'Super Admin User', N'superadmin1', N'$2a$11$8eiENqS0SD6wmTrofTS0e.XYA9u4PWfA.GUZnZs7UwIqBwx9GgUfC', CAST(N'2026-06-19T20:00:57.567' AS DateTime), NULL, NULL, NULL, 1, NULL)
INSERT [dbo].[User] ([User_Id], [Role_id], [Full_Name], [UserName], [Password], [CreatedDateTime], [CreatedBy], [ModifiedDateTime], [ModifiedBy], [IsDelete], [Role_No]) VALUES (3, 1, N'Admin User 1', N'admin1', N'$2a$11$8eiENqS0SD6wmTrofTS0e.XYA9u4PWfA.GUZnZs7UwIqBwx9GgUfC', CAST(N'2026-06-19T20:00:57.667' AS DateTime), NULL, NULL, NULL, 0, NULL)
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__User__C9F284567185E82E]    Script Date: 6/19/2026 11:02:04 PM ******/
ALTER TABLE [dbo].[User] ADD UNIQUE NONCLUSTERED 
(
	[UserName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Activity] ADD  DEFAULT (getdate()) FOR [CreatedDateTime]
GO
ALTER TABLE [dbo].[Activity] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[Book] ADD  DEFAULT (getdate()) FOR [CreatedDateTime]
GO
ALTER TABLE [dbo].[Book] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[Category] ADD  DEFAULT (getdate()) FOR [CreatedDateTime]
GO
ALTER TABLE [dbo].[Category] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[Department] ADD  DEFAULT (getdate()) FOR [CreatedDateTime]
GO
ALTER TABLE [dbo].[Department] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[Faculty] ADD  DEFAULT (getdate()) FOR [CreatedDateTime]
GO
ALTER TABLE [dbo].[Faculty] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[Payment_Fees] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Payment_Fees] ADD  DEFAULT (getdate()) FOR [CreatedDateTime]
GO
ALTER TABLE [dbo].[Payment_Fees] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[Position] ADD  DEFAULT (getdate()) FOR [CreatedDateTime]
GO
ALTER TABLE [dbo].[Position] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[Registration_Payment] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [dbo].[Registration_Payment] ADD  DEFAULT (getdate()) FOR [CreatedDateTime]
GO
ALTER TABLE [dbo].[Registration_Payment] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[Role] ADD  DEFAULT (getdate()) FOR [CreatedDateTime]
GO
ALTER TABLE [dbo].[Role] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[Rules_Regulations] ADD  DEFAULT (getdate()) FOR [CreatedDateTime]
GO
ALTER TABLE [dbo].[Rules_Regulations] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[Semester] ADD  DEFAULT (getdate()) FOR [CreatedDateTime]
GO
ALTER TABLE [dbo].[Semester] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[Student] ADD  DEFAULT ('Active') FOR [Status]
GO
ALTER TABLE [dbo].[Student] ADD  DEFAULT (getdate()) FOR [CreatedDateTime]
GO
ALTER TABLE [dbo].[Student] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[Student_Registrations] ADD  DEFAULT (getdate()) FOR [application_date]
GO
ALTER TABLE [dbo].[Student_Registrations] ADD  DEFAULT ((0)) FOR [stipend_requested]
GO
ALTER TABLE [dbo].[Student_Registrations] ADD  DEFAULT ('Pending Confirmation') FOR [status]
GO
ALTER TABLE [dbo].[Student_Registrations] ADD  DEFAULT (getdate()) FOR [created_datetime]
GO
ALTER TABLE [dbo].[Student_Registrations] ADD  DEFAULT ((0)) FOR [is_delete]
GO
ALTER TABLE [dbo].[Subject] ADD  DEFAULT (getdate()) FOR [CreatedDateTime]
GO
ALTER TABLE [dbo].[Subject] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[Tutor] ADD  DEFAULT (getdate()) FOR [CreatedDateTime]
GO
ALTER TABLE [dbo].[Tutor] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT (getdate()) FOR [CreatedDateTime]
GO
ALTER TABLE [dbo].[User] ADD  DEFAULT ((0)) FOR [IsDelete]
GO
ALTER TABLE [dbo].[Book]  WITH CHECK ADD FOREIGN KEY([Category_Id])
REFERENCES [dbo].[Category] ([Category_Id])
GO
ALTER TABLE [dbo].[Department]  WITH CHECK ADD FOREIGN KEY([Faculty_Id])
REFERENCES [dbo].[Faculty] ([Faculty_Id])
GO
ALTER TABLE [dbo].[Registration_Payment]  WITH CHECK ADD FOREIGN KEY([Registration_Id])
REFERENCES [dbo].[Student_Registrations] ([registration_id])
GO
ALTER TABLE [dbo].[Registration_Payment]  WITH CHECK ADD FOREIGN KEY([VerifyBy])
REFERENCES [dbo].[User] ([User_Id])
GO
ALTER TABLE [dbo].[Role_Permissions]  WITH CHECK ADD FOREIGN KEY([Permission_Id])
REFERENCES [dbo].[Permissions] ([Permission_Id])
GO
ALTER TABLE [dbo].[Role_Permissions]  WITH CHECK ADD FOREIGN KEY([Role_Id])
REFERENCES [dbo].[Role] ([Role_Id])
GO
ALTER TABLE [dbo].[Student]  WITH CHECK ADD FOREIGN KEY([User_Id])
REFERENCES [dbo].[User] ([User_Id])
GO
ALTER TABLE [dbo].[Student_Registrations]  WITH CHECK ADD FOREIGN KEY([user_id])
REFERENCES [dbo].[User] ([User_Id])
GO
ALTER TABLE [dbo].[Subject]  WITH CHECK ADD FOREIGN KEY([Semester_Id])
REFERENCES [dbo].[Semester] ([Semester_Id])
GO
ALTER TABLE [dbo].[Tutor]  WITH CHECK ADD FOREIGN KEY([Department_Id])
REFERENCES [dbo].[Department] ([Department_Id])
GO
ALTER TABLE [dbo].[Tutor]  WITH CHECK ADD FOREIGN KEY([Position_id])
REFERENCES [dbo].[Position] ([Position_Id])
GO
ALTER TABLE [dbo].[Tutor]  WITH CHECK ADD FOREIGN KEY([User_Id])
REFERENCES [dbo].[User] ([User_Id])
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD FOREIGN KEY([Role_id])
REFERENCES [dbo].[Role] ([Role_Id])
GO
