@page "/admin/role/edit/{id:int}"
@layout AdminLayout
@namespace Smart_Campus_PUMUB.Components.Admin.Pages.Role
@using Smart_Campus_PUMUB.Components.Admin.Pages.Role
@rendermode InteractiveServer

<div class="tab-pane fade show active" id="editRoleContainer" tabindex="-1">
    <div class="modal-dialog modal-md">
        <div class="modal-content tech-card">

            <div class="modal-header border-0 pb-0">
                <h5 class="modal-title fw-bold">
                    Edit Role Info
                </h5>
            </div>

            @if (IsLoading)
            {
                <div class="modal-body text-center my-4">
                    <div class="spinner-border text-primary" role="status"></div>
                    <div class="text-muted mt-2">Role အချက်အလက်များကို ရယူနေပါသည်...</div>
                </div>
            }
            else
            {
                <EditForm Model="roleModel" OnValidSubmit="UpdateRole" FormName="EditRoleForm">
                    <DataAnnotationsValidator />

                    <div class="modal-body">
                        <div class="row g-3">
                            <div class="col-12 mb-2">
                                <label class="form-label text-light">Role ID</label>
                                <input type="text" class="form-control" value="@Id" disabled />
                            </div>
                            
                            <div class="col-12 mb-2">
                                <label class="form-label text-light">Role Name</label>
                                <InputText @bind-Value="roleModel.RoleName" class="form-control" placeholder="Enter Role Name" />
                            </div>
                        </div>

                        @if (!string.IsNullOrEmpty(statusMessage))
                        {
                            <div class="small text-info mt-2">@statusMessage</div>
                        }
                    </div>

                    <div class="modal-footer border-0 pt-0">
                        <NavLink href="/admin/roles" class="nav-link me-3">
                            <span class="sidebar-text text-muted">Cancel</span>
                        </NavLink>

                        <button type="submit" class="btn btn-primary" disabled="@isProcessing">
                            @(isProcessing ? "Saving..." : "Save Changes")
                        </button>
                    </div>
                </EditForm>
            }

        </div>
    </div>
</div>