<!-- HERO -->
<section id="hero" style="min-height: 100vh;height: auto;">
    <div class="hero-bg">
        <img class="hero-bg-img" src="https://images.unsplash.com/photo-1562774053-701939374585?w=1920&q=80"
            alt="Polytechnic University Maubin Campus">
        <div class="hero-overlay"></div>
    </div>

    <div class="hero-content">
        <div >
            <div class="hero-badge"><i class="fas fa-star"></i> Excellence in Technology & Engineering</div>
            <h1 class="hero-title">Polytechnic<br>University <span>(Maubin)</span>
            </h1>
            <div class="typing-text" id="typingText"></div>
            <p class="hero-desc" style="color: white">A premier institution of higher learning dedicated to
                advancing technology,
                engineering, and innovation in Myanmar. Shaping tomorrow's engineers and technologists since 1999.
            </p>

        </div>

        
    </div>
    <div class="scroll-hint">
        <span>Scroll</span>
        <div class="scroll-dot"></div>
    </div>
</section>