@page "/admin/tutor/create"
@layout AdminLayout

<!-- TUTOR MODALS -->
<div class="tab-pane fade show active" id="addTutorModal" tabindex="-1">
    <div class="modal-dialog modal-lg">
        <div class="modal-content tech-card">

            <div class="modal-header">
                <h5 class="modal-title fw-bold">
                    Add New Tutor
                </h5>


            </div>

            <div class="modal-body">

                <div class="row">

                    <!-- Tutor Name -->
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Tutor Name</label>
                        <input type="text" class="form-control" placeholder="Enter Tutor Name">
                    </div>

                    <!-- Email -->
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Email</label>
                        <input type="email" class="form-control" placeholder="example@gmail.com">
                    </div>

                    <!-- Phone -->
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Phone</label>
                        <input type="text" class="form-control" placeholder="09xxxxxxxxx">
                    </div>

                    <!-- Position -->
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Position</label>
                        <select class="form-select">
                            <option selected disabled>
                                Select Position
                            </option>
                            <option>Professor</option>
                            <option>Associate Professor</option>
                            <option>Lecturer</option>
                            <option>Assistant Lecturer</option>
                        </select>
                    </div>

                    <!-- Department -->
                    <div class="col-md-6 mb-3">
                        <label class="form-label">Department</label>
                        <select class="form-select">
                            <option selected disabled>
                                Select Department
                            </option>
                            <option>Mechanical Engineering</option>
                            <option>Civil Engineering</option>
                            <option>Electrical Engineering</option>
                            <option>Information Technology</option>
                        </select>
                    </div>

                    <!-- Profile -->
                    <div class="col-md-6 mb-3">
                        <label class="form-label">
                            Profile Image
                        </label>

                        <input type="file" class="form-control" accept="image/*">
                    </div>

                    <!-- About -->
                    <div class="col-12 mb-3">
                        <label class="form-label">About Tutor</label>

                        <textarea class="form-control" rows="5"
                            placeholder="Write tutor biography, experience, achievements...">
                        </textarea>
                    </div>

                </div>

            </div>

            <div class="modal-footer">
                <NavLink href="/admin/tutors" class="nav-link">
                    <span class="sidebar-text">Cancel</span>
                </NavLink>


                <button type="button" class="btn btn-primary">
                    Create Tutor
                </button>

            </div>

        </div>
    </div>
</div>